* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  background: #2f048c;
  background: linear-gradient(14deg, #2f048c 15%, #bf1784 100%);
  min-height: calc(100vh);
  font-family: "Black Ops One", cursive;
  color: #f21bb9;
}

.container {
  max-width: 170rem;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 1rem;
}

.container header {
  text-align: center;
  padding-bottom: 2rem;
  background: black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.container header h1 {
  margin: 0;
  padding: 1.5rem;
  font-size: 7rem;
  letter-spacing: 0.6rem;
  text-shadow: 1px 1px #07dbf2;
}

.container header span {
  font-size: 2.4rem;
}

.content {
  min-height: 60rem;
  margin: 3.5rem auto;
  border-radius: 1rem;
  border: 1px solid black;
}

main {
  background: black;
  min-height: 46rem;
  border-radius: 0 0 1rem 1rem;
}

main #button_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

main #button_options .buttons {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #2f048c;
  background: linear-gradient(14deg, #2f048c 15%, #bf1784 100%);
  border-radius: 1rem;
  height: 15rem;
  max-height: 15rem;
  overflow: auto;
}

main #button_options .buttons .button {
  font-size: 2.4rem;
  background: #07dbf2;
  max-height: 5rem;
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

main #button_options .buttons .button:hover {
  cursor: pointer;
}

main #button_options .new_button {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #2f048c;
  background: linear-gradient(315deg, #2f048c 15%, #bf1784 100%);
  height: 15rem;
  padding: 2rem;
  margin-left: 1rem;
  border-radius: 1rem;
}

main #button_options .new_button label {
  font-size: 2.8rem;
  text-shadow: 1px 1px #07dbf2;
}

main #button_options .new_button input[type="text"] {
  width: 100%;
  outline: none;
  font-size: 2rem;
  margin: 0.5rem 0;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
  color: #f21bb9;
}

main #button_options .new_button #search {
  font-size: 2.4rem;
  border: none;
  color: #f21bb9;
  background: #07dbf2;
  padding: 0.5rem 0;
}

main #button_options .new_button #search:hover {
  cursor: pointer;
}

main #button_options .new_button #search:focus {
  border: none;
  outline: none;
}

main #button_options .new_button #search:active {
  border: none;
}

main #giphs {
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 1rem;
}

main #giphs .giphDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #giphs .giphDiv .giph {
  width: 100%;
  height: auto;
  max-height: 50rem;
}

main #giphs .rating {
  font-size: 2.4rem;
}
/*# sourceMappingURL=main.css.map */